<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<!-- <img src="/이름.jpg"></img> -->
<!-- <img src="/특징.jpg"></img> -->
<!-- <img src="/나이.jpg"></img> -->
<!-- <img src="/좋아하는것.jpg"></img> -->
<!-- <img src="/성격.jpg"></img> -->